.content2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    // background-color: rgb(186, 70, 253);
    margin-top: $medium-gutter;
    height: fit-content;
    max-width: 100vw;
    &__customer {
        display:flex;
        justify-content: center;
        margin: $big-gutter 0;
    }
    &__name {
        font-size: 1.8em;
        font-weight: 500;
        margin-left: $medium-gutter;
        // color: rgb(0, 47, 255);
    }
    &__paragraph {
        margin: $small-gutter;
        color: $color-grey;
        font-style: italic;
        max-width: calc(1em * 40);
        line-height: 1.8em;
        font-weight: 500;
    }
    &__title {
        margin: $medium-gutter $small-gutter 0 $small-gutter;
        font-size: 3em;
        font-weight: 700;
    }
}

.avatar {
    margin-top: $medium-gutter;
    height: 128px;
    width: 128px;
    background-color: $color-grey-light;
    border-radius: 50%;
}

@media screen and (max-width: 688px) {
    .content2 {
        &__customer {
            flex-direction: column;
            align-items: center;
            margin: $small-gutter 0 0 0;
        }
        &__name {
            margin: 0;
        }
        &__title {
            text-align: center;
        }
    }
}