$small-gutter: 20px;
$medium-gutter: 40px;
$big-gutter: 80px;

$color-black: black;

$color-grey-light: #eeeeee;
$color-grey-light-2: #c9c9c9;
$color-grey-dark: #5f5f5f;
$color-grey: #7c7c7c;

$color-purple: rgb(173, 0, 173);
$color-purple-twitch: rgb(218, 125, 255);

$color-blue: rgb(0, 32, 212);